{% extends 'base_page.html' %}

{% block style %}
        td {border:1px solid green;border-radius:3px;height:40px;width:200px;text-align:center;text-valign:middle;font-size:16px;}
        button {border:none;font-size:16px;}
        select {width:200px;height:40px;border:0;font-size:16px;}
        input {width:200px;height:40px;text-align:center;font-size:16px;}
{% endblock %}

{% block header %}
    <img src="https://img1.wxzxzj.com/vued02092c5e3b7309243760cee9fa4817c5.png" alt="logo">
    <ul class="wrap">
        <li><a href="{% url 'show' %}">首页</a></li>
        <li><a id="monitor" class="active" href="{% url 'showDevices' %}">设备列表</a></li>
        <li><a id="news" href="{% url 'inputinfo' %}">设备录入</a></li>
        <li><a id="connect" href="{% url 'testmodeledit' %}">编辑测试模块</a></li>
        <li><a id="speack" href="{% url 'showalldevices' %}">查看所有设备信息</a></li>
        <li><a href="{% url 'do_logout' %}">退出登陆</a></li>
    </ul>
{% endblock %}

{% block context %}
<center style="margin-top:80px;padding:0 60px;" id="content">
    {% if devices == 1 %}
        <span style="color:red">还没有连接设备</span>
        <a href="javascript:location.reload();">点击刷新页面</a>
    {% elif devices == 0 %}
        <span style="color:red">设备信息还没有进行录入</span>
        <a href="{% url 'inputinfo' %}">点击进入设备录入</a>
    {% elif devices != None %}
    <table id="links">
        <tr>
            <td>设备名称</td>
            <td>设备型号</td>
            <td>设备UUID</td>
            <td>系统版本</td>
            <td>选择测试端</td>
            <td>选择测试项</td>
            <td>运行状态</td>
            <td>设备状态</td>
            <td>报告文件</td>
        </tr>
        {% for i in devices %}
        <form action="{% url 'startserver' %}" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ i.equipment_name }}</td>
                <td>{{ i.equipment_model }}</td>
                <td><input type="text" name="e_uuid" value="{{ i.equipment_uuid }}"></td>
                <td>{{ i.platform_verion }}</td>
                <td>
                    <div class="wrap">
                        <select id="pardent" name="pardent">
                            <option value="0" selected>请选择</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        <select id="child" name="child">
                            <option value="0" selected>请选择</option>
                        </select>
                    </div>
                </td>
                <td>
                    {% if i.start_but_statue == 0 %}
                        <button type="submit">开始运行</button>
                    {% else %}
                        <a href="{% url 'stopserver' i.gid i.equipment_uuid %}" style="font-size:16px;">终止运行</a>
                    {% endif %}
                </td>
                <td>
                    {% if i.statue_statue == 0 %}
                        <input type="text" readonly name="statue" style="font-size:15px"  value="等待运行">
                    {% elif i.statue_statue == 2 %}
                        <input type="text" readonly name="statue" style="font-size:15px"  value="异常退出">
                    {% else %}
                        <input type="text" readonly name="statue" style="font-size:15px"  value="运行中">
                    {% endif %}
                </td>
                <td>
                    {% if i.report != None %}
                    <a target="_blank" href="{% url 'showreport' i.report  %}">查看报告</a>
                    {% elif i.report == None %}
                    <span>暂无报告</span>
                    {% endif %}
                </td>
            </tr>
        </form>
        {% endfor %}
    </table>
    <a href="{% url 'show' %}">go back</a>
    <span style="margin:200px">已经连接 {{ len }} 台设备</span>
    <span>{{ file_name }}</span>
    {% endif %}
</center>
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
        var pro=["学生端","教师端","校长端","家长端"];
        var city=[["全部","试卷","习题","个人中心","图书馆"],["全部","班级","题库","题框","个人中心"],["全部","数据报告","功能介绍","我的账号","我的学校","老师管理"],["全部","学习报告","购买","账号管理"]];
        $(function(){
            //初始化省份下拉列表
            for(var i=0;i<pro.length;i++){
                $("#pardent").append($("<option></option>").val(i+1).html(pro[i]));
            }
            //为省份下拉列表绑定change事件
            $("#pardent").change(function(){
                var index=$(this).val()-1;//获取当前省的下标
                $("#child").prop("length",1);//清空原有的数据
                for(var i=0;i<city[index].length;i++){//重新为市赋值
                    $("#child").append($("<option>").val(i+1).html(city[index][i]));
                }
            });
        });
  <!--setTimeout("location.href='/devices'",10000)-->

</script>
{% endblock %}