{% extends 'base_page.html' %}

{% block style %}
        td {border:1px solid green;border-radius:3px;height:40px;width:200px;text-align:center;text-valign:middle;}
        input {height:40px;width:200px;text-align:center;text-vaalign:middle;}
        button {width:60px;height:30px;margin-top:20px;}
{% endblock %}

{% block header %}
    <img src="https://img1.wxzxzj.com/vued02092c5e3b7309243760cee9fa4817c5.png" alt="logo">
    <ul class="wrap">
        <li><a href="{% url 'show' %}">首页</a></li>
        <li><a id="monitor" class="" href="{% url 'showDevices' %}">设备列表</a></li>
        <li><a id="news" href="{% url 'inputinfo' %}">设备录入</a></li>
        <li><a id="connect" href="{% url 'testmodeledit' %}">编辑测试模块</a></li>
        <li><a id="speack" class="active" href="{% url 'showalldevices' %}">查看所有设备信息</a></li>
        <li><a href="{% url 'do_logout' %}">退出登陆</a></li>
    </ul>
{% endblock %}

{% block context %}
<center style="margin-top:80px;">
    <form action="{% url 'update_data' %}" method="post">
        {% csrf_token %}
        <table>
                <tr>
                    <td>设备名称</td>
                    <td>系统版本</td>
                    <td>设备🆔</td>
                    <td>设备型号</td>
                </tr>
                {% for i in content %}
                <tr>
                    <td><input type="text" name="devices_name" id="" value="{{ i.equipment_name }}" ></td>
                    <td><input type="text" name="platformVersion" id="platformVersion" value="{{ i.platform_verion }}"></td>
                    <td><input type="text" readonly name="devices_uuid"  value="{{ i.equipment_uuid }}"></td>
                    <td><input type="text" readonly name="devices_model"  value="{{ i.equipment_model }}"></td>
                </tr>
                {% endfor %}
        </table>
        <tr>
            <td> <button type="submit">确认提交</button></td>
            <td><a onclick="javascript:history.back();">取消/返回</a></td>
        </tr>
    </form>
</center>
{% endblock %}